:root {
    --universal-height: 100vh;
}

body {
    margin: 0;
    background-color: rgb(30, 40, 60);
}

.moonContainer {
    height: auto;
    width: 100px;
    margin: auto;
    font-size: 100px;
    position: relative;
}

.phase {
    background-color: transparent;
    vertical-align: middle;
    line-height: 2em;
    width: 100%;
    margin: auto;
    z-index: 1;
    position: absolute;
}

h1 {
    font-size: 100px;
    text-align: center;
    justify-content: center;
    display: block;
    color: #9aa6bf;
    text-transform: capitalize;
    margin-top: 2em;
}

a.logout {
    margin: 25px;
    display: inline-block;
    font-size: 30px;
}

.login_card {
    background: transparent;
    color: #fff;
    border: 1px solid #0d6efd;
}

.login_card input:-webkit-autofill,
.login_card input:-webkit-autofill:hover,
.login_card input:-webkit-autofill:focus,
.login_card input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.login_card input.form-control, .login_card input.form-control:focus {
    background: transparent;
    border: none;
    border-bottom: 2px solid #0d6efd;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
}
