{% extends 'base.html' %}

{% if form.errors %}
{% for error in form.errors %}
<p>{{error}}</p>
{% endfor %}
{% endif %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="login_card card p-3">
                <div class="card-body">
                    <form method="post" class="m-0">
                        {% csrf_token %}
                        <div class="form-group my-3">
                            <input type="text" class="form-control" name="username" placeholder="Username" />
                        </div>
                        <div class="form-group my-3">
                            <input id="id_password" type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                        <input type="submit" class="btn btn-outline-primary my-3" value="Login" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}