{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1></h1>
    <div class="moonContainer" id="moonContainer">
        <div class="phase" id="waning_crescent" style="opacity: 0;">🌘</div>
        <div class="phase" id="new_moon" style="opacity: 0;">🌑</div>
        <div class="phase" id="waxing_crescent" style="opacity: 0;">🌒</div>
        <div class="phase" id="first_quater" style="opacity: 0;">🌓</div>
        <div class="phase" id="waxing_gibbous" style="opacity: 0;">🌔</div>
        <div class="phase" id="full_moon" style="opacity: 0;">🌕</div>
        <div class="phase" id="waning_gibbous" style="opacity: 0;">🌘</div>
        <div class="phase" id="third_quater" style="opacity: 0;">🌗</div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock script %}